/.vscode
/channelids.txt
/codexffmpeg-2021-09-16-git-8f92a1862a
/cogs
/Cs investigatory project
/ffmpeg
/helppage.py
/ids.json
/ids.txt
/Microsoft VS Code
/Owner.py
/Utility.py
/youtube-60ItHLz5WEA-Alan_Walker_-_Faded.webm
/youtube-tQ0yjYUFKAE-Justin_Bieber_-_Peaches_ft._Daniel_Caesar_Giveon.webm
/__pycache__